{% extends 'base.html.twig' %}



{% block body %}



                <div class="card-header">LIST</div>

                {% if app.user != null %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Pol.</th>
                                <th scope="col">Název</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in ABC %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.name }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                {% endif %}


  

            {% if app.user == null %}
                <div class="alert alert-info" role="alert">
                    This is a info alert with <a href="/login" class="alert-link">You need to login to see the list 😜😜 >></a>
                </div>
            {% endif %}

{% endblock %}