{% extends 'base.html.twig' %}
{% block header %}{% include '/navbar.html.twig' %}{% endblock %}

{% block body %}   

    <div class="jumbotron">
        <h1 class="display-4">ourCIS</h1>
        <p class="lead">Aplikace pro řízení průběhu zakázky od projektu po uvedení do provozu.</p>
        <hr class="my-4">
        <p>Pro test rozpadu pokračuj </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('list') }}" role="button">Rozpad zakázky</a>
        </p>
    </div>

{% endblock %}